<h2>Register</h2>
<form [formGroup]="registerForm" (ngSubmit)="registerUser()">
    <div class="form-group">
        <label class="required" for="firstName">First Name</label>
        <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.firstName.errors }" />
        <div *ngIf="submitted && form.firstName.errors" class="invalid-feedback">
            <div *ngIf="form.firstName.errors.required">First Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.lastName.errors }" />
    </div>
    <div class="form-group">
        <label class="required" for="username">Username</label>
        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.username.errors }" />
        <div *ngIf="submitted && form.username.errors" class="invalid-feedback">
            <div *ngIf="form.username.errors.required">Username is required</div>
        </div>
    </div>
    <div class="form-group">
        <label class="required" for="password">Password</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': (form.password.dirty || submitted) && form.password.errors }" />
        <div *ngIf="(form.password.dirty || submitted) && form.password.errors" class="invalid-feedback">
            <div *ngIf="form.password.errors.required">Password is required</div>
            <div *ngIf="form.password.errors.pattern">
                Your password must be have at least
                <ul>
                    <li>8 Characters long</li>
                    <li>1 Letter & 1 Numeric</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="required" for="confirm-password">Confirm Password</label>
        <input type="password" formControlName="confirmpassword" class="form-control" [ngClass]="{ 'is-invalid': (form.confirmpassword.dirty || submitted) && form.confirmpassword.errors }" />
        <div *ngIf="( (form.confirmpassword.dirty || submitted) && form.confirmpassword.errors) || (form.confirmpassword.errors && form.confirmpassword.errors.MatchPassword)" class="invalid-feedback">
            <div *ngIf="form.confirmpassword.errors.required">Confirm password is required</div>
            <div *ngIf="form.confirmpassword.errors.MatchPassword">Confirm password should match with password</div>
        </div>
    </div>
    <div class="form-group">
        <label for="phone">Phone</label>
        <input type="text"  formControlName="phonenumber" class="form-control" [ngClass]="{ 'is-invalid': (form.phonenumber.dirty || submitted) && form.phonenumber.errors }" />
        <div *ngIf="(form.phonenumber.dirty || submitted) && form.phonenumber.errors" class="invalid-feedback">
            <div *ngIf="form.phonenumber.errors.minlength">Phonenumber must be at least 8 characters</div>
            <div *ngIf="form.phonenumber.errors.pattern">Invalid..</div>
        </div>
    </div>
    <div class="form-group">
        <label class="required" for="email">Email</label>
        <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': (form.email.dirty || submitted) && form.email.errors }" />
        <div *ngIf="(form.email.dirty || submitted) && form.email.errors" class="invalid-feedback">
            <div *ngIf="form.email.errors.required">Email is required</div>
            <div *ngIf="form.email.errors.pattern">Invalid..</div>
        </div>
    </div>
    <div class="form-group">
        <label for="address">Address</label>
        <textarea formControlName="address" class="form-control" [ngClass]="{ 'is-invalid': (form.address.dirty || submitted) && form.address.errors }"></textarea>
        <div *ngIf="(form.address.dirty || submitted) && form.address.errors" class="invalid-feedback">
            <div *ngIf="form.address.errors.required">Address is required</div>
            <div *ngIf="form.address.errors.maxlength">Maximum 30 characters</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">Register</button>
        <img *ngIf="loading" [src]="loadingIcon" />
        <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
    </div>
</form>
